.grid-container{
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
    'nd nd nd nd nd nd nd nd'
    'cd cd vd vd vd vd id id'
    'scd scd af af af af sd sd'
    'fd fd fd fd fd fd fd fd'
    ;
}
#navbarDiv{
    grid-area: nd;
}
#courseDiv{
    grid-area: cd;
}
#videoDiv{
    grid-area: vd;
}
#imageDiv{
    grid-area: id;
}
#sCourseDiv{
    grid-area: scd;
}
#applicationForm{
    grid-area: af;
}
#someDiv{
    grid-area: sd;
}
#footerDiv{
    grid-area: fd;
}
.img-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.img-container{
    width: 315px;
    height: auto;
}


@media screen and (max-width: 600px){
    .grid-container{
    display: grid;
     grid-gap: 15px;
    grid-template-areas:
    'nd nd nd nd nd nd nd nd'
    'cd cd cd cd cd cd cd cd'
    'vd vd vd vd vd vd vd vd'
    'id id id id id id id id'
    'scd scd scd scd scd scd scd scd'
    'af af af af af af af af'
    'sd sd sd sd sd sd sd sd'
    'fd fd fd fd fd fd fd fd'
    ;
}
}